{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": "defaults"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["react-hot-loader/babel"]//,
    // ["transform-class-properties", { "spec": true }]
  ]
}
